@use "couleurs";

.button-voir_plus {
    background-color: var(--vert-menthe);
    color: var(--white);
}

.button-membre {
    background-color: var(--pomme-verte);
    color: var(--noire);
}

.button-pagination {
    background-color: var(--gris-souris);
    color: var(--bleu-calypso);
}

.button-fermer{
    background-color: var(--gris-souris);
    color: var(--white);
}

.button-visiter{
    background-color: var(--bleu-calypso);
    color: var(--white);
}