@use "banniere_ecole";
@use "bannieres_services";
@use "boutons";
@use "cartes";
@use "footer";
@use "maison";
@use "texte";
@use "couleurs";
.body {

}

.section-hero {
    color:var(--white);
}

.donation {
    background-color: var(--bleu-calypso); 
}

.section-services {
    background-color: var(--white);
}

.section-actualites {
    background-color: var(--white);
}

.section-temoignages {
    background-color: var(--bleu-calypso); 
}

.section-infolettre {
    background-color: var(--bleu-calypso);
}

.footer {
    background-color: var(--bleu-calypso);
}


.texte {
    color:var(--white);
}

h1{
    color:var(--white);
    text-shadow: 2%;
}