@use "couleurs";

button{
    padding: 1em;
    width: 33vw;
    border-radius: 1em;
    font-size: 2.5vw;
    font-family: "montserrat";
    font-weight: bold;
    border: none;


    &.voir_plus {
        background-color: var(--vert-menthe);
        color: var(--white);
    }
    &.membre {
        background-color: var(--pomme-verte);
        color: var(--white);
    }
    &.pagination {
        background-color: var(--gris-souris);
        color: var(--bleu-calypso);
    }
    &.fermer{
        background-color: var(--gris-souris);
        color: var(--white);
    }
    &.visiter{
        background-color: var(--bleu-calypso);
        color: var(--white);
    }
    &.footer {
        background-color: var(--pomme-verte);
    }
}
