@use "couleurs";

.footer {
    background-color: var(--bleu-calypso);
    color: var(--whitte);
    display: grid;
    &--links:hover {
        color: var(--pomme-verte);
    }
}

.foot--text {
    font-size: 16px;
    &--soustitre {
        font-size: 18px;
    }
    &--credit {
        font-size: 14px; 
    }
}



