@use "couleurs";
@use "boutons";
@use "sass:color";

@media screen and (max-width: 375px) {

    .footer {
        background-color: color.adjust(#1C7293, $blackness: 15%);
        color: var(--blanc);
        display: grid;
        gap: 10px;

        .lien {
            a {
                &:hover {
                    color: var(--pomme-verte);
                }
            }
        }

        & .titre_footer {
            grid-column-start: 1;
            grid-column-end: 3;
        }

        & .icones_reseaux {
            text-align: center;
            grid-column-start: 1;
            grid-column-end: 3;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;

        }

        & .quebec {
            text-align: center;
            grid-column-start: 1;
            grid-column-end: 3;
        }

        & .cnl {
            text-align: center;
            grid-column-start: 1;
            grid-column-end: 3;
        }

        & .rohq {
            text-align: center;
            grid-column-start: 1;
            grid-column-end: 3;

        }

        & .frapru {
            text-align: center;
            grid-column-start: 1;
            grid-column-end: 3;
        }

        & .logo {
            margin-top: 10px;
            text-align: center;

            & img {
                width: 100%;
            }
        }

        p {
            font-size: 14px;
            grid-column-start: 1;
            grid-column-end: 3;
            text-align: center;
        }

        & .lien {
            text-align: center;
            grid-column-start: 1;
            grid-column-end: 3;
        }

        & .credit {
            margin-top: 10px;
            text-align: center;
            font-size: 10px;
            grid-column-start: 1;
            grid-column-end: 2;
            padding-bottom: 1em;
        }

        .joindre {
            margin-top: 20px;
            margin-bottom: 0px;
        }

        .partenaires {
            font-size: 16px;
            margin-top: 20px;
        }

        .membership {
            text-align: center;
            grid-column-start: 1;
            grid-column-end: 3;
        }

        button {
            &.membre {
                padding: 1em;
                width: 55vw;
                font-size: 4.5vw;
            }
        }
    }
}



@media screen and (min-width: 375px) and (max-width: 768px) {

    .logo {
        transform: scale(0.9);
    }

    .footer {
        width: 100vw;
        background-color: color.adjust(#1C7293, $blackness: 15%);
        color: var(--blanc);
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(auto-fit);
        gap: 5px;

        .lien {
            a {
                &:hover {
                    color: var(--pomme-verte);
                }
            }
        }

        & .titre_footer {
            grid-column-start: 1;
            grid-column-end: 2;
        }

        & .icones_reseaux {
            position: relative;
            text-align: center;
            grid-column-start: 1;
            grid-column-end: 2;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;

        }

        & .address {
            position: relative;
            padding-left: 10px;
        }

        & .quebec {
            position: relative;
            transform: scale(0.7);
            text-align: center;
            grid-column-start: 1;
            grid-column-end: 2;
        }

        & .cnl {
            position: relative;
            transform: scale(0.7);
            text-align: center;
            grid-column-start: 1;
            grid-column-end: 2;
        }

        & .rohq {
            position: relative;
            text-align: left;
            transform: scale(0.7);
            grid-column-start: 2;
            grid-column-end: 3;

        }

        & .frapru {
            position: relative;
            transform: scale(0.7);
            grid-column-start: 2;
            grid-column-end: 3;
        }

        & .logo {
            position: relative;
            margin-top: 10px;
            text-align: center;

            & img {
                position: relative;
                width: 100%;
            }
        }

        p {
            font-size: 10px;
            grid-column-start: 1;
            grid-column-end: 2;
            text-align: center;
        }

        & .lien {
            position: relative;
            text-align: center;
            grid-column-start: 1;
            grid-column-end: 2;
        }

        & .credit {
            position: relative;
            margin-top: 10px;
            text-align: center;
            font-size: 10px;
            grid-column-start: 1;
            grid-column-end: 2;
            padding-bottom: 1em;
        }

        .joindre {
            position: relative;
            font-size: 16px;
            grid-column-start: 1;
            grid-column-end: 2;
            margin-top: 20px;
            margin-bottom: 0px;
        }

        .partenaires {
            position: relative;
            font-size: 16px;
            grid-column-start: 1;
            grid-column-end: 2;
            font-size: 16px;
            margin-top: 20px;
        }

        .membership {
            position: relative;
            text-align: center;
            grid-column-start: 1;
            grid-column-end: 2;
        }

        button {
            &.membre {
                position: relative;
                margin-top: 10px;
                padding: 0.8em;
                width: 40vw;
                font-size: 3vw;
            }
        }
    }
}

@media screen and (min-width: 768px) {

    .logo {
        transform: scale(0.6);
    }

    .footer {
        width: 100vw;
        background-color: color.adjust(#1C7293, $blackness: 15%);
        color: var(--blanc);
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(auto-fit);
        gap: 5px;

        .lien {
            a {
                font-size: 1em;
                &:hover {
                    color: var(--pomme-verte);
                }
            }
        }

        & .titre_footer {
            position: relative;
            grid-column-start: 1;
            grid-column-end: 2;
        }

        & .icones_reseaux {
            position: relative;
            text-align: center;
            grid-column-start: 1;
            grid-column-end: 2;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;

        }

        & .address {
            position: relative;
            padding-left: 10px;
            grid-column-start: 1;
            grid-column-end: 2;
            font-size: 0.8em;
        }

        & .quebec {
            position: relative;
            transform: scale(0.7);
            text-align: center;
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 2;

        }

        & .cnl {
            position: relative;
            transform: scale(0.7);
            text-align: center;
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 3;

        }

        & .rohq {
            position: relative;
            text-align: center;
            transform: scale(0.7);
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 5;


        }

        & .frapru {
            text-align: center;
            position: relative;
            transform: scale(0.7);
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 4;

        }

        & .logo {
            margin-top: 10px;
            text-align: center;

            & img {
                width: 100%;
            }
        }

        p {
            position: relative;
            font-size: 0.8em;
            grid-column-start: 1;
            grid-column-end: 2;
            text-align: center;
        }

        & .lien {
            position: relative;
            text-align: center;
            grid-column-start: 1;
            grid-column-end: 2;
        }

        & .credit {
            position: relative;
            margin-top: 10px;
            text-align: center;
            font-size: 10px;
            grid-column-start: 1;
            grid-column-end: 2;
            padding-bottom: 1em;
            margin-top: 5vh;
        }

        .joindre {
            position: relative;
            font-size: 16px;
            margin-top: 20px;
            margin-bottom: 0px;
            grid-column-start: 1;
            grid-column-end: 3;
            margin-top: 5vh;
            margin-bottom: 2vh;
        }

        .partenaires {
            position: relative;
            font-size: 16px;
            margin-top: 6%;
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 1;
        }

        .membership {
            position: relative;
            text-align: center;
            grid-column-start: 1;
            grid-column-end: 3;

        }

        button {
            &.membre {
                padding: 1%;
                width: 20vw;
                font-size: 1vw;

                &:hover {
                    transform: scale(1.5);
                }
            }
        }
    }
}