@use "couleurs";
@use "texte";
@use "sass:color";

.bloc-li-services {
    background-color: var(--blue-calypso);
}

.liste_service_page {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    display: grid;

    .titre_services {
        max-width: 50%;
        justify-self: center;
        margin-top: 10%;
    }

    .services_description {
        background-color: var(--bleu-calypso);
        width: 80vw;
        margin-top: 7%;
        padding-top: 30px;
        margin-bottom: 10%;
        text-align: left;

        .liste_service_titre_description {
            width: 80%;
        }

        & .contenu {
            padding: 4%;
            font-size: 18px;
        }
    }

    .listes_services_caroussel {
        flex-direction: column;
        display: flex;
        justify-self: flex-end;
        align-items: flex-end;
        background-color: #92C096;
        width: 80%;
        overflow: hidden;
        margin-bottom: 3%;

        .titre_liste_services {
            display: flex;
            justify-self: flex-end;
            margin-top: 5%;
            width: 80%;
        }

        .swiper03 {
            width: 90%;
            max-width: 800px;
            margin-block: 5%;


            .swiper-wrapper {
                .card {
                    max-width: 700px;
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    background-color: #0E769E;
                    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
                    //overflow: hidden;
                    text-align: right;

                    &:nth-child(1) {
                        margin-left: -10%;
                        margin-right: 5%;

                    }
                    &:nth-child(2) {
                        margin-right: 5%;
                    }
                    &:nth-child(3) {
                        margin-right: 5%;
                    }
                    &:nth-child(4) {
                        margin-right: 5%;
                    }

                    .card-image {
                        width: 100%;
                        max-height: 400px;
                        background-size: cover;
                    }

                    .card-content {
                        padding: 15px;
                        max-height: 400px;
                    }

                    .card-title {
                        text-decoration: underline;
                        color: white;
                        text-align: left;
                        font-size: 1.5em;
                        margin: 10px 0;
                    }

                    .card-description {
                        text-align: left;
                        color: white;
                    }

                    .card-button {
                        margin-top: 2em;
                        width: 15vh;
                        background-color: #8AE190;
                        color: white;
                        padding: 10px;
                        border-radius: 8px;
                        cursor: pointer;
                        font-weight: bold;
                        border: none;
                        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
                    }

                    .card-button:hover {
                        background-color: #1C7293;
                    }

                }
            }

            
        }

    }
} //768

//tablet
//section page liste
.liste_service_page {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    display: grid;

    .titre_services {
        max-width: 50%;
        justify-self: center;
        margin-top: 10%;
    }

    .services_description {
        background-color: var(--bleu-calypso);
        margin-top: 7%;
        padding-top: 30px;
        margin-bottom: 10%;
        text-align: left;

        .liste_service_titre_description {
            width: 80%;
        }

        & .contenu {
            padding: 4%;
            font-size: 18px;
        }
    }

    .listes_services_caroussel {
        flex-direction: column;
        display: flex;
        justify-self: flex-end;
        align-items: flex-end;
        background-color: #92C096;
        width: 100%;
        overflow: hidden;
        margin-bottom: 3%;
        padding-bottom: 3%;

        .titre_liste_services {
            display: flex;
            justify-self: flex-end;
            margin-top: 5%;
            width: 80%;
        }

        .swiper03 {
            width: 100%;
            max-width: 100%;
            margin-block: 5%;


            .swiper-wrapper {
                .card {
                    max-width: 100%;
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    background-color: #0E769E;
                    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
                    //overflow: hidden;
                    text-align: right;

                    /*&:nth-child(1) {
                        //margin-left: -10%;
                        margin-right: 5%;

                    }
                    &:nth-child(2) {
                        margin-right: 5%;
                    }
                    &:nth-child(3) {
                        margin-right: 5%;
                    }
                    &:nth-child(4) {
                        margin-right: 5%;
                    }*/

                    .card-image {
                        width: 100%;
                        max-height: 400px;
                        background-size: cover;
                    }

                    .card-content {
                        padding: 15px;
                        max-height: 400px;
                    }

                    .card-title {
                        text-decoration: underline;
                        color: white;
                        text-align: left;
                        font-size: 1.5em;
                        margin: 10px 0;
                    }

                    .card-description {
                        text-align: left;
                        color: white;
                    }

                    .card-button {
                        margin-top: 2em;
                        width: 15vh;
                        background-color: #8AE190;
                        color: white;
                        padding: 10px;
                        border-radius: 8px;
                        cursor: pointer;
                        font-weight: bold;
                        border: none;
                        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
                    }

                    .card-button:hover {
                        background-color: #1C7293;
                    }

                }
            }
        }

    }
}

//mobile
//section page liste
.liste_service_page {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    display: grid;

    .titre_services {
        max-width: 50%;
        justify-self: center;
        margin-top: 10%;
    }

    .services_description {
        background-color: var(--bleu-calypso);
        margin-top: 7%;
        padding-top: 30px;
        margin-bottom: 10%;
        text-align: left;

        .liste_service_titre_description {
            width: 80%;
        }

        & .contenu {
            padding: 4%;
            font-size: 12px;
        }
    }

    .listes_services_caroussel {
        flex-direction: column;
        display: flex;
        justify-self: flex-end;
        align-items: flex-end;
        background-color: #92C096;
        width: 100%;
        overflow: hidden;
        margin-bottom: 3%;
        padding-bottom: 3%;

        .titre_liste_services {
            display: flex;
            justify-self: flex-end;
            margin-top: 5%;
            width: 80%;
        }

        .swiper03 {
            width: 100%;
            max-width: 100%;
            margin-block: 5%;


            .swiper-wrapper {
                .card {
                    max-width: 100%;
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    background-color: #0E769E;
                    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
                    //overflow: hidden;
                    text-align: right;

                    .card-image {
                        width: 100%;
                        max-height: 400px;
                        background-size: cover;
                    }

                    .card-content {
                        padding: 15px;
                        max-height: 400px;
                    }

                    .card-title {
                        text-decoration: underline;
                        color: white;
                        text-align: left;
                        font-size: 1.3em;
                        margin: 10px 0;
                    }

                    .card-description {
                        text-align: left;
                        color: white;
                    }

                    .card-button {
                        margin-top: 2em;
                        width: 10vh;
                        background-color: #8AE190;
                        color: white;
                        padding: 10px;
                        border-radius: 8px;
                        cursor: pointer;
                        font-weight: bold;
                        border: none;
                        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
                    }

                    .card-button:hover {
                        background-color: #1C7293;
                    }

                }
            }
        }

    }
}

