@use "couleurs";
@use "texte";
@use "sass:color";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

section {
  &.nav{
    background-color: var(--bleu-paisible);
  }
}

li {
  list-style: none;
}

a {
  color: var(--blanc);
  text-decoration: none;
}

.navbar {
  min-height: 5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-link {
  font-family: "merriweather";
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  color: var(--blanc);

  &:hover {
    border-bottom: solid 3px white;
  }
}

.hamburger {
  display: none;
  cursor: pointer;
}
.bar {
  display: block;
  width: 25px;
  height: 5px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

  @media screen and (max-width: 375px){

    .hamburger {
      display: block;
      &.active .bar:nth-child(2) {
        opacity: 0;
      }
      &.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
      }
      &.active .bar:nth-child(3) {
        transform: translateY(-12px) rotate(-45deg);
      }
    }
  
    .nav-menu {
      position: fixed;
      left: -100%;
      top: 70px;
      gap: 0;
      flex-direction: column;
      background-color: var(--bleu-paisible);
      width: 100%;
      text-align: center;
      transition: 0.3s;
    }
  
    .nav-item {
      margin: 16px 0;
    }
  
    .nav-menu.active {
      left: 0;
    }
  }