@use "couleurs";
@use "texte";
@use "sass:color";



.nav {
    
    .navbar {
      max-width: 100vw;
      background-color: var(--bleu-paisible);
      justify-content: space-between;
      align-items: center;
      padding: 1.5vw;
    }

    .nav_menu {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }


  }


li {
  list-style: none;
}

a {
  color: var(--blanc);
  text-decoration: none;
}



.nav-link {
  font-family: "merriweather";
  text-transform: uppercase;
  font-size: 2vh;
  font-weight: 500;
  text-align: center;
  color: var(--blanc);

  &:hover {
    border-bottom: solid 3px white;
  }
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 5px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

@media screen and (max-width: 768px) {

  
  .nav {
    .hamburger {
    display: block;

    &.active .bar:nth-child(2) {
      opacity: 0;
    }

    &.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }

    &.active .bar:nth-child(3) {
      transform: translateY(-12px) rotate(-45deg);
    }
  }
    .navbar {
      max-width: 100vw;
      background-color: var(--bleu-paisible);
      justify-content: space-between;
      align-items: center;
    }

    
  }

  .nav-item {
    margin: 2vh 0;
  }

  .nav-menu.active {
    display: flex;
      align-items: center;
      gap: 0;
      flex-direction: column;
      background-color: var(--bleu-paisible);
      max-width: 100%;
      text-align: center;
      transition: 0.3s;
  }
}