@font-face {
    src: url("/sources/medias/font/Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
    font-family: "montserrat";
}

@font-face {
    src: url("/sources/medias/font/Merriweather_Sans/MerriweatherSans-VariableFont_wght.ttf") format("truetype");
    font-family: "merriweather";
}

h1 {
    font-family: "merriweather";
    font-weight: bold;
}

p {
    font-family: "montserrat";
<<<<<<< Updated upstream
=======
<<<<<<< HEAD
    font-weight: 500;
    color: #fff;
=======
>>>>>>> Stashed changes
    font-weight: 700;
    color: var(--white);
}

.credit {
    font-family: "montserrat";
    font-weight: 300;
    color: var(--white);
<<<<<<< Updated upstream
=======
>>>>>>> fa7d35218eaccf7bb8d6e0de9007c071138bc3ae
>>>>>>> Stashed changes
}