@use "partials-scss/articles-similaires";
@use "partials-scss/banniere-ecole";
@use "partials-scss/bannieres-services";
@use "partials-scss/boutons";
@use "partials-scss/cartes";
@use "partials-scss/couleurs";
@use "partials-scss/description-articles";
@use "partials-scss//description-services";
@use "partials-scss/footer";
@use "partials-scss/liste-service";
@use "partials-scss/maison";
@use "partials-scss/nav";
@use "partials-scss/texte";
@use "sass:color";

.pageblanche {
    width: 100vw;
    height: 100%;
}

.hero {
    position: relative;
    width: 100%;
    height: 100%;

    .swiper {
        position: relative;
        width: 100%;
        height: 100%;

        .swiper-slide {
            height: 90vh;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .swiper-pagination-bullet-active {
        background: var(--bleu-calypso);
    }
}

.donation {
    background-color: color.adjust(#1c7293, $blackness: 15%);
    width: 100%;
    height: 100vh;
}

.services {
    width: 100%;
    height: 100vh;
}

.actualites {
    width: 100%;
    height: 100vh;
}

.temoignages {
    background-color: color.adjust(#1c7293, $blackness: 15%);
    width: 100%;
    height: 100vh;
}

.infolettre {
    width: 100%;
    height: 100vh;
}

@media screen and (max-width: 375px) {}

@media screen and (min-width: 375px) and (max-width: 768px) {}

@media screen and (min-width: 768px) {
    body {
        background-color: var(--vert-menthe);
        background-image: url(./sources/medias/images/page_accueil/section_hero/decoration_logo.svg);
        background-size: cover;
        background-repeat: repeat-y;
        margin: 0px;
    }

    .pageblanche {
        background-color: white;
        margin: 0 auto;
        width: 90vw;
        height: 100%;

        /*.item { ????????????????????
      width: 150px;
      height: 150px;
      border: 1px solid black;
    }

    .item1 {
      background: blue;
    }

    .item2 {
      top: 20px;
      left: 40px;
      position: absolute;
      background: red;
    }*/
    }

    /*.vecteur_batiment {
    background-color: red;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 2;
    margin-top: -40%;

    img {
      position: absolute;
      width: 60%;
    }

    .building.front {
      margin-bottom: 0px;
      right: 0px;
      width: 30%;
    }
  } */

    .swiper-pagination {
        position: absolute;
        z-index: 2;
    }

    .case_transparente {
        width: 100%;
        height: 7%;
        z-index: 1;
        background-color: rgba($color: black, $alpha: 0.3);
        position: absolute;
        margin-top: -192px;
        padding: 2%;

        .titre {
            text-transform: uppercase;
        }

        .swiper02 {
            width: 100%; 
        }
    }

}