@use "partials-scss/banniere-ecole";
@use "partials-scss/bannieres-services";
@use "partials-scss/boutons";
@use "partials-scss/cartes";
@use "partials-scss/footer";
@use "partials-scss/maison";
@use "partials-scss/texte";
@use "partials-scss/couleurs";
@use "partials-scss/nav";
/* background color des sections*/

body {  
    background-color: var(--vert-menthe);
        margin: 0px; 
}

.page_blanche {
    width: 80vw; 
    height: 80vh; 
    background-color: red;
}

.services {
    background-color: var(--white);
}



