:root {
  --gris-souris: #a7a7a7;
  --pomme-verte: #8AE190;
  --bleu-calypso: #1C7293;
  --bleu-paisible: #59B1D3;
  --vert-menthe: #C1F9C5;
  --blanc: #ffffff;
  --noir: #000000;
}

.similaires {
  background-color: var(--pomme-verte);
  color: var(--blanc);
}

.pagination {
  background-color: var(--gris-souris);
  color: var(--bleu-calypso);
}

@media screen and (max-width: 375px) {
  .banniere {
    background-color: var(--bleu-calypso);
    padding: 4%;
    display: grid;
    text-align: center;
    gap: 10px;
  }
  .banniere button.fermer {
    padding: 1em;
    width: 90vw;
    border-radius: 0.8em;
    font-size: 3vw;
  }
  .banniere button.visiter {
    padding: 1em;
    width: 90vw;
    border-radius: 0.8em;
    font-size: 3vw;
  }
  .banniere p {
    font-size: 14px;
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 375px) and (max-width: 768px) {
  .banniere {
    background-color: var(--bleu-calypso);
    padding: 2%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 7px;
  }
  .banniere .banniere_btn {
    display: flex;
    align-items: center;
    display: grid;
    gap: 7px;
    grid-template-columns: auto auto;
  }
  .banniere .banniere_btn button.fermer {
    padding: 1em;
    width: 12vw;
    border-radius: 0.8em;
    font-size: 1.4vw;
  }
  .banniere .banniere_btn button.visiter {
    padding: 1em;
    width: 12vw;
    border-radius: 0.8em;
    font-size: 1.4vw;
  }
  .banniere p {
    margin: auto 0;
    font-size: 14px;
  }
}
@media screen and (min-width: 769px) {
  .banniere {
    background-color: var(--bleu-calypso);
    padding: 2%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 7px;
  }
  .banniere button.fermer {
    padding: 1em;
    width: 12vw;
    border-radius: 0.8em;
    font-size: 1.4vw;
  }
  .banniere button.visiter {
    padding: 1em;
    width: 12vw;
    border-radius: 0.8em;
    font-size: 1.4vw;
  }
  .banniere p {
    margin: auto 0;
    font-size: 10px;
  }
}
button {
  padding: 1em;
  width: 20vw;
  border-radius: 0.8em;
  font-family: "montserrat";
  font-weight: bold;
  border: none;
  box-shadow: 5px 5px 5px #1c566d;
}
button.voir_plus {
  background-color: var(--vert-menthe);
  color: var(--blanc);
}
button.membre {
  background-color: var(--pomme-verte);
  color: var(--blanc);
  padding: 1em;
  width: 20vw;
  font-size: 1.5vw;
}
button.pagination {
  background-color: var(--gris-souris);
  color: var(--bleu-calypso);
}
button.fermer {
  background-color: var(--gris-souris);
  color: var(--blanc);
  padding: 1em;
  width: 12vw;
  border-radius: 0.8em;
  font-size: 1vw;
}
button.visiter {
  background-color: #1c566d;
  color: var(--blanc);
  padding: 1em;
  width: 12vw;
  border-radius: 0.8em;
  font-size: 1vw;
}
button.footer {
  background-color: var(--pomme-verte);
}

.bloc-articles-similaires {
  background-color: var(--pomme-verte);
  color: var(--noir);
}

h2 {
  color: var(--pomme-verte);
}

a {
  background-color: var(--bleu-calypso);
  color: var(--blanc);
}

.bloc-description {
  background-color: var(--gris-souris);
  color: var(--blanc);
}

@media screen and (max-width: 375px) {
  .footer {
    background-color: #1c566d;
    color: var(--blanc);
    display: grid;
    gap: 10px;
  }
  .footer .lien a:hover {
    color: var(--pomme-verte);
  }
  .footer .titre_footer {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .footer .icones_reseaux {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
  .footer .quebec {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .footer .cnl {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .footer .rohq {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .footer .frapru {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .footer .logo {
    margin-top: 10px;
    text-align: center;
  }
  .footer .logo img {
    width: 100%;
  }
  .footer p {
    font-size: 14px;
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
  }
  .footer .lien {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .footer .credit {
    margin-top: 10px;
    text-align: center;
    font-size: 10px;
    grid-column-start: 1;
    grid-column-end: 2;
    padding-bottom: 1em;
  }
  .footer .joindre {
    margin-top: 20px;
    margin-bottom: 0px;
  }
  .footer .partenaires {
    font-size: 16px;
    margin-top: 20px;
  }
  .footer .membership {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .footer button.membre {
    padding: 1em;
    width: 55vw;
    font-size: 4.5vw;
  }
}
@media screen and (min-width: 375px) and (max-width: 768px) {
  .logo {
    transform: scale(0.9);
  }
  .footer {
    width: 100vw;
    background-color: #1c566d;
    color: var(--blanc);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fit);
    gap: 5px;
  }
  .footer .lien a:hover {
    color: var(--pomme-verte);
  }
  .footer .titre_footer {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .footer .icones_reseaux {
    position: relative;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
  .footer .address {
    position: relative;
    padding-left: 10px;
  }
  .footer .quebec {
    position: relative;
    transform: scale(0.7);
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .footer .cnl {
    position: relative;
    transform: scale(0.7);
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .footer .rohq {
    position: relative;
    text-align: left;
    transform: scale(0.7);
    grid-column-start: 2;
    grid-column-end: 3;
  }
  .footer .frapru {
    position: relative;
    transform: scale(0.7);
    grid-column-start: 2;
    grid-column-end: 3;
  }
  .footer .logo {
    position: relative;
    margin-top: 10px;
    text-align: center;
  }
  .footer .logo img {
    position: relative;
    width: 100%;
  }
  .footer p {
    font-size: 10px;
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: center;
  }
  .footer .lien {
    position: relative;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .footer .credit {
    position: relative;
    margin-top: 10px;
    text-align: center;
    font-size: 10px;
    grid-column-start: 1;
    grid-column-end: 2;
    padding-bottom: 1em;
  }
  .footer .joindre {
    position: relative;
    font-size: 16px;
    grid-column-start: 1;
    grid-column-end: 2;
    margin-top: 20px;
    margin-bottom: 0px;
  }
  .footer .partenaires {
    position: relative;
    font-size: 16px;
    grid-column-start: 1;
    grid-column-end: 2;
    font-size: 16px;
    margin-top: 20px;
  }
  .footer .membership {
    position: relative;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .footer button.membre {
    position: relative;
    margin-top: 10px;
    padding: 0.8em;
    width: 40vw;
    font-size: 3vw;
  }
}
@media screen and (min-width: 768px) {
  .logo {
    transform: scale(0.6);
  }
  .footer {
    width: 100vw;
    background-color: #1c566d;
    color: var(--blanc);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fit);
    gap: 5px;
  }
  .footer .column1 {
    grid-column: 1/2;
    padding-left: 5vw;
    padding-top: 3vw;
  }
  .footer .column1 .logo {
    transform: scale(1);
  }
  .footer .column1 .icones_reseaux {
    display: grid;
    grid-template-columns: 60px 60px;
    grid-template-rows: auto;
  }
  .footer .column1 .icones_reseaux .youtube {
    grid-column: 1/1;
  }
  .footer .column1 .icones_reseaux .facebook {
    grid-column: 2/2;
  }
  .footer .column2 {
    grid-column: 2/4;
    padding-right: 5vw;
    padding-top: 3vw;
  }
  .footer .column2 .partners {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
  }
  .footer .column2 .partners .partenaires {
    grid-column: 1/4;
    text-align: center;
  }
  .footer .column2 .partners .quebec {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .footer .column2 .partners .frappu {
    grid-column: 3/4;
    grid-row: 2/3;
  }
  .footer .column2 .partners .cnl {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .footer .column2 .partners .rohq {
    grid-column: 2/3;
    grid-row: 3/4;
  }
}
.bloc-li-services {
  background-color: var(--blue-calypso);
}

@font-face {
  src: url("/sources/medias/font/Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-family: "montserrat";
}
@font-face {
  src: url("/sources/medias/font/Merriweather_Sans/MerriweatherSans-VariableFont_wght.ttf") format("truetype");
  font-family: "merriweather";
}
h1 {
  font-family: "merriweather";
  font-weight: bold;
  color: var(--blanc);
  text-shadow: 2%;
}

h2 {
  font-family: "merriweather";
  font-weight: bold;
  color: var(--blanc);
  text-shadow: 2%;
}

p {
  font-family: "montserrat";
  font-weight: 600;
  color: var(--blanc);
}

.credit {
  font-family: "montserrat";
  font-weight: 300;
  color: var(--blanc);
}

a {
  font-family: "montserrat";
  font-weight: 300;
  color: var(--blanc);
}

ul {
  list-style-type: none;
}

@media screen and (min-width: 375px) and (max-width: 768px) {
  .nav {
    padding: 1%;
    font-family: merriweather;
    text-transform: uppercase;
    display: grid;
    grid-template-columns: auto;
  }
  .nav img {
    position: hidden;
  }
  .nav__list {
    display: flex;
  }
  .nav__list .nav__list {
    position: absolute;
    display: block;
    top: 100%;
    height: 0;
    background-color: #ff8585;
    overflow: hidden;
    transition: 0.3s height;
  }
  .nav__list .nav__list .nav__item:not(:last-child) {
    border-bottom: 2px solid #b1ede8;
  }
  .nav__item {
    position: relative;
  }
  .nav__item:hover .nav__list {
    height: 10.5vh;
  }
  .nav__link {
    padding: 5px 10px;
    margin: 1px;
    /*
    border: 2px solid #b1ede8;*/
    border-radius: 2px;
    display: block;
  }
  .nav__link:hover {
    border-bottom: solid var(--blanc) 2px;
    /*background: rgba(255, 255, 255, 0.2);*/
  }
  .nav__link--dark {
    /*background: rgba(53, 45, 57, 0.7);*/
    cursor: default;
  }
  .nav__link--dark:hover {
    border-bottom: solid var(--blanc) 2px;
  }
  .nav__list .nav__list {
    background-color: var(--bleu-calypso);
  }
}
@media screen and (min-width: 768px) {
  .nav {
    background-color: black;
    padding: 1%;
    font-family: merriweather;
    text-transform: uppercase;
    display: grid;
    grid-template-columns: auto;
  }
  .nav a {
    font-size: 18px;
    font-weight: 500;
  }
  .nav__list {
    display: hidden;
  }
  .nav__list .nav__list {
    position: absolute;
    display: block;
    top: 100%;
    height: 0;
    background-color: #ff8585;
    overflow: hidden;
    transition: 0.3s height;
  }
  .nav__list .nav__list .nav__link {
    border: 0;
    padding: 5px 12px;
  }
  .nav__list .nav__list .nav__item:not(:last-child) {
    border-bottom: 2px solid #b1ede8;
  }
  .nav__item {
    position: relative;
  }
  .nav__item:hover .nav__list {
    height: 10.5vh;
  }
  .nav__link {
    padding: 5px 10px;
    margin: 1px;
    /*
    border: 2px solid #b1ede8;*/
    border-radius: 2px;
    display: block;
  }
  .nav__link:hover {
    border-bottom: solid var(--blanc) 2px;
    /*background: rgba(255, 255, 255, 0.2);*/
  }
  .nav__link--dark {
    /*background: rgba(53, 45, 57, 0.7);*/
    cursor: default;
  }
  .nav__link--dark:hover {
    border-bottom: solid var(--blanc) 2px;
  }
  .nav__list .nav__list {
    background-color: var(--bleu-calypso);
  }
}
@media screen and (max-width: 375px) {
  .pageblanche {
    width: 100vw;
    height: 90%;
  }
}
@media screen and (min-width: 375px) and (max-width: 768px) {
  .pageblanche {
    width: 100vw;
    height: 90%;
  }
}
@media screen and (min-width: 768px) {
  body {
    background-color: var(--vert-menthe);
    background-image: url(./sources/medias/images/background_element/decoration_logo.svg);
    background-size: cover;
    background-repeat: repeat-y;
    margin: 0px;
  }
  .pageblanche {
    background-color: white;
    margin: 0 auto;
    width: 90vw;
    height: 90%;
  }
  .services {
    background-color: var(--white);
  }
}/*# sourceMappingURL=styles.css.map */