:root {
  --gris-souris: #a7a7a7;
  --pomme-verte: #8AE190;
  --bleu-calypso: #1C7293;
  --bleu-paisible: #59B1D3;
  --vert-menthe: #C1F9C5;
  --blanc: #ffffff;
  --noir: #000000;
}

.similaires {
  background-color: var(--pomme-verte);
  color: var(--blanc);
}

.pagination {
  background-color: var(--gris-souris);
  color: var(--bleu-calypso);
}

@media screen and (max-width: 375px) {
  .banniere {
    background-color: var(--bleu-calypso);
    padding: 4%;
    display: grid;
    text-align: center;
    gap: 10px;
  }
  .banniere button.fermer {
    padding: 1em;
    width: 90vw;
    border-radius: 0.8em;
    font-size: 3vw;
  }
  .banniere button.visiter {
    padding: 1em;
    width: 90vw;
    border-radius: 0.8em;
    font-size: 3vw;
  }
  .banniere p {
    font-size: 14px;
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 375px) and (max-width: 768px) {
  .banniere {
    background-color: var(--bleu-calypso);
    padding: 2%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 7px;
  }
  .banniere .banniere_btn {
    display: flex;
    align-items: center;
    display: grid;
    gap: 7px;
    grid-template-columns: auto auto;
  }
  .banniere .banniere_btn button.fermer {
    padding: 1em;
    width: 12vw;
    border-radius: 0.8em;
    font-size: 1.4vw;
  }
  .banniere .banniere_btn button.visiter {
    padding: 1em;
    width: 12vw;
    border-radius: 0.8em;
    font-size: 1.4vw;
  }
  .banniere p {
    margin: auto 0;
    font-size: 14px;
  }
}
@media screen and (min-width: 769px) {
  .banniere {
    background-color: var(--bleu-calypso);
    padding: 1% 2%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 7px;
  }
  .banniere .banniere_btn {
    display: flex;
    align-items: center;
    display: grid;
    gap: 7px;
    grid-template-columns: auto auto;
  }
  .banniere .banniere_btn button.fermer {
    padding: 0.7em;
    width: 12vw;
    border-radius: 0.8em;
  }
  .banniere .banniere_btn button.visiter {
    padding: 0.7em;
    width: 12vw;
    border-radius: 0.8em;
  }
  .banniere p {
    margin: auto 0;
    font-size: 16px;
  }
}
.s_congres {
  background-color: var(--bleu-calypso);
}

.s_infolettre {
  background-color: var(--gris-souris);
}

.s_environnement {
  background-color: var(--pomme-verte);
}

.s_comite {
  background-color: var(--bleu-calypso);
}

button {
  padding: 1em;
  width: 20vw;
  border-radius: 35px;
  font-family: "montserrat";
  font-weight: bold;
  border: none;
  box-shadow: 5px 5px 5px #1c566d;
}
button.voir_plus {
  background-color: var(--vert-menthe);
  color: var(--blanc);
}
button.membre_footer {
  width: 100%;
  background-color: var(--pomme-verte);
  color: var(--blanc);
  border-radius: 35px;
  transform: scale(0.6, 0.8);
  font-size: 1.5vw;
  grid-column: 2/5;
  grid-row: 4/4;
}
button.pagination {
  background-color: var(--gris-souris);
  color: var(--bleu-calypso);
}
button.fermer {
  background-color: var(--gris-souris);
  color: var(--blanc);
  padding: 1em;
  width: 12vw;
  font-size: 1vw;
}
button.visiter {
  background-color: #1c566d;
  color: var(--blanc);
  padding: 1em;
  width: 12vw;
  font-size: 1vw;
}
button.footer {
  background-color: var(--pomme-verte);
}

.bloc-articles-similaires {
  background-color: var(--pomme-verte);
  color: var(--noir);
}

h2 {
  color: var(--pomme-verte);
}

a {
  color: var(--blanc);
}

.bloc-description {
  background-color: var(--gris-souris);
  color: var(--blanc);
}

@media screen and (max-width: 375px) {
  .footer {
    background-color: #1c566d;
    color: var(--blanc);
    display: grid;
    gap: 10px;
  }
  .footer .lien a:hover {
    color: var(--pomme-verte);
  }
  .footer .titre_footer {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .footer .icones_reseaux {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
  .footer .quebec {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .footer .cnl {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .footer .rohq {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .footer .frapru {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .footer .logo {
    margin-top: 10px;
    text-align: center;
  }
  .footer .logo img {
    width: 100%;
  }
  .footer p {
    font-size: 14px;
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
  }
  .footer .lien {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .footer .credit {
    margin-top: 10px;
    text-align: center;
    font-size: 10px;
    grid-column-start: 1;
    grid-column-end: 2;
    padding-bottom: 1em;
  }
  .footer .joindre {
    margin-top: 20px;
    margin-bottom: 0px;
  }
  .footer .partenaires {
    font-size: 16px;
    margin-top: 20px;
  }
  .footer .membership {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .footer button.membre_footer {
    padding: 1em;
    width: 55vw;
    font-size: 4vw;
  }
}
@media screen and (min-width: 375px) and (max-width: 768px) {
  .logo {
    transform: scale(0.9);
  }
  .footer {
    width: 100vw;
    background-color: #1c566d;
    color: var(--blanc);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fit);
    gap: 5px;
  }
  .footer .lien a:hover {
    color: var(--pomme-verte);
  }
  .footer .columns2 {
    width: 100vw;
  }
  .footer .columns2 .partners {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .footer .columns2 .partners .quebec {
    position: relative;
    transform: scale(0.7);
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .footer .columns2 .partners .frapru {
    position: relative;
    transform: scale(0.7);
    grid-column-start: 2;
    grid-column-end: 3;
  }
  .footer .columns2 .partners .cnl {
    position: relative;
    transform: scale(0.7);
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .footer .columns2 .partners .rohq {
    position: relative;
    text-align: left;
    transform: scale(0.7);
    grid-column-start: 2;
    grid-column-end: 3;
  }
}
@media screen and (min-width: 768px) {
  .logo {
    transform: scale(0.6);
  }
  .footer {
    width: 100vw;
    background-color: #1c566d;
    color: var(--blanc);
    display: grid;
    grid-template-columns: repeat(auto-fit);
    grid-template-rows: repeat(auto-fit);
    gap: 5px;
  }
  .footer .column1 {
    grid-column: 1/2;
    padding-left: 5vw;
    padding-top: 5vw;
  }
  .footer .column1 .logo {
    transform: scale(1);
  }
  .footer .column1 .icones_reseaux {
    display: grid;
    grid-template-columns: 60px 60px;
    grid-template-rows: auto;
  }
  .footer .column1 .icones_reseaux .youtube {
    grid-column: 1/1;
  }
  .footer .column1 .icones_reseaux .facebook {
    grid-column: 2/2;
  }
  .footer .column2 {
    grid-column: 2/3;
    padding-right: 5vw;
    padding-top: 5vw;
  }
  .footer .column2 .partners {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
  }
  .footer .column2 .partners .partenaires {
    grid-column: 1/3;
    text-align: center;
    margin-bottom: 2%;
  }
  .footer .column2 .partners .quebec {
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: center;
  }
  .footer .column2 .partners .frapru {
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: center;
  }
  .footer .column2 .partners .cnl {
    grid-column: 1/2;
    grid-row: 3/4;
    text-align: center;
  }
  .footer .column2 .partners .rohq {
    grid-column: 2/3;
    grid-row: 3/4;
    text-align: center;
  }
  .footer .column2 .joindre {
    text-align: center;
    grid-column: 3/3;
    grid-row: 3/4;
    text-align: center;
    margin-top: 4%;
  }
  .footer .column2 .membership {
    text-align: center;
    grid-column: 3/3;
    grid-row: 3/4;
    text-align: center;
  }
}
.bloc-li-services {
  background-color: var(--blue-calypso);
}

@font-face {
  src: url("/sources/medias/font/Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-family: "montserrat";
}
@font-face {
  src: url("/sources/medias/font/Merriweather_Sans/MerriweatherSans-VariableFont_wght.ttf") format("truetype");
  font-family: "merriweather";
}
h1 {
  font-family: "merriweather";
  font-weight: bold;
  color: var(--blanc);
  text-shadow: 2%;
}

h2 {
  font-family: "merriweather";
  font-weight: bold;
  color: var(--blanc);
  text-shadow: 2%;
}

h3 {
  font-family: "montserrat";
  font-weight: medium;
  color: var(--blanc);
  text-shadow: 2%;
  font-size: 24px;
}

p {
  font-family: "montserrat";
  font-weight: 600;
  color: var(--blanc);
}

.credit {
  font-family: "montserrat";
  font-weight: 300;
  color: var(--blanc);
}

a {
  font-family: "montserrat";
  font-weight: 300;
  color: var(--blanc);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.nav {
  background-color: black;
  padding: 2vh;
}
.nav.navbar {
  min-height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

li {
  list-style: none;
}

a {
  color: var(--blanc);
  text-decoration: none;
}

.nav_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-link {
  font-family: "merriweather";
  text-transform: uppercase;
  font-size: 2vh;
  font-weight: 500;
  text-align: center;
  color: var(--blanc);
}
.nav-link:hover {
  border-bottom: solid 3px white;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 5px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-12px) rotate(-45deg);
  }
  .nav_menu {
    position: fixed;
    left: 100%;
    top: 70px;
    gap: 0;
    color: red;
    flex-direction: column;
    background-color: var(--bleu-paisible);
    border: 2px solid blue;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
  .nav-item {
    margin: 16px 0;
  }
  .nav-menu.active {
    position: fixed;
    background-color: pink;
    z-index: 10;
    display: relative;
  }
}
.pageblanche {
  width: 100vw;
  height: 100%;
}

.hero {
  position: relative;
  width: 100%;
  height: 100%;
}
.hero .swiper {
  position: relative;
  width: 100%;
  height: 100%;
}
.hero .swiper .swiper-slide {
  height: 90vh;
}
.hero .swiper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero .swiper-pagination-bullet-active {
  background: var(--bleu-calypso);
}

.services {
  width: 100%;
  height: 100vh;
}

.actualites {
  width: 100%;
  height: 100vh;
}

.infolettre {
  width: 100%;
  height: 100vh;
}

@media screen and (max-width: 375px) {
  .hero {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .hero .swiper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  .hero .swiper .swiper-slide {
    height: 75vh;
  }
  .hero .swiper .vecteur_batiment {
    margin-top: -560px;
    position: absolute;
    width: 200%;
    height: 100%;
    z-index: 1;
    display: grid;
    grid-template-rows: 2fr 2fr;
  }
  .hero .swiper .vecteur_batiment .building {
    position: absolute;
  }
  .hero .swiper .vecteur_batiment .building01 {
    position: absolute;
    -o-object-fit: contain;
       object-fit: contain;
    grid-row: 2/3;
  }
  .hero .swiper .vecteur_batiment .building02 {
    position: absolute;
    -o-object-fit: contain;
       object-fit: contain;
    transform: scale(1.5);
    grid-row: 2/3;
  }
  .hero .swiper .vecteur_batiment .building03 {
    position: absolute;
    -o-object-fit: contain;
       object-fit: contain;
    transform: scale(1.5);
    grid-row: 2/3;
  }
  .hero .swiper .vecteur_batiment .building04 {
    position: relative;
    -o-object-fit: contain;
       object-fit: contain;
    transform: scale(1.8);
    grid-row: 2/3;
  }
  .hero .swiper-pagination {
    position: absolute;
    z-index: 2;
  }
  .hero .case_transparente {
    width: 100%;
    height: 50%;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    margin-top: -260px;
    padding: 2%;
    padding-top: 4%;
    padding-bottom: 0;
  }
  .hero .case_transparente .titre {
    font-size: 130%;
    text-transform: uppercase;
  }
  .hero .case_transparente .swiper02 {
    width: 100%;
  }
  .hero .case_transparente .swiper02 .article_hero {
    padding-top: 3%;
    text-align: left;
    font-size: 12px;
  }
  /*section donation*/
  .donation {
    background-color: #1c566d;
    width: 100%;
    height: 70vh;
    position: relative;
    display: grid;
    grid-template-rows: 1fr 1fr;
    z-index: 4;
  }
  .donation .titre_joindre {
    display: none;
  }
  .donation .descriptif_equipe {
    position: relative;
    text-align: center;
    font-size: 12px;
    padding: 4%;
    margin-top: -240px;
    z-index: 5;
  }
  .donation .titre_mobile {
    position: relative;
    font-size: 24px;
    text-align: center;
    margin-top: -330px;
    z-index: 5;
  }
  .donation img {
    width: 100%;
    height: 90%;
    grid-row: 1/4;
    -o-object-fit: cover;
       object-fit: cover;
    filter: brightness(0.45);
  }
  .donation button.membre {
    width: 100%;
    font-size: 20px;
    background-color: var(--pomme-verte);
    color: var(--blanc);
    border-radius: 35px;
    transform: scale(0.9, 1);
    margin-bottom: 50px;
  }
  .temoignages {
    width: 100vw;
    background-color: #1c566d;
    padding: 5vh;
  }
  .temoignages .entete {
    transform: translateX(5vw);
  }
  .temoignages .entete h1 {
    position: relative;
    margin-left: 4vw;
    font-size: 2.5vh;
    z-index: 1;
  }
  .temoignages .entete .rectangle {
    display: none;
  }
  .temoignages img.coeur {
    position: absolute;
    display: block;
    z-index: 2;
    transform: scale(0.2) translateY(-34vh) translateX(139vw);
  }
  .temoignages img.up {
    position: absolute;
    display: block;
    transform: scale(0.2) translateY(-29vh) translateX(150vw);
    z-index: 1;
  }
  .temoignages img.down {
    position: absolute;
    display: block;
    transform: scale(0.2) translateY(-4vh) translateX(173vw);
    z-index: 2;
  }
  .temoignages .box {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5vh;
    max-width: 90%;
    background-color: var(--blanc);
    padding: 1vh 3vh;
  }
  .temoignages .box .utilisateur {
    padding: 0.5vh;
  }
  .temoignages .box h3 {
    font-size: 1vh;
    color: var(--noir);
    margin-bottom: 0.3vh;
  }
  .temoignages .box .description {
    font-size: 0.5vh;
    background-color: var(--gris-souris);
    padding: 0.5vh;
    text-align: left;
  }
}
@media screen and (min-width: 375px) and (max-width: 768px) {
  .swiper {
    z-index: 0;
  }
  .swiper .vecteur_batiment {
    margin-top: -714px;
    position: absolute;
    width: 190%;
    height: 100%;
    z-index: 1;
    display: grid;
    grid-template-rows: 2fr 2fr;
  }
  .swiper .vecteur_batiment .building {
    position: absolute;
  }
  .swiper .vecteur_batiment .building01 {
    position: absolute;
    -o-object-fit: contain;
       object-fit: contain;
    grid-row: 2/3;
  }
  .swiper .vecteur_batiment .building02 {
    position: absolute;
    -o-object-fit: contain;
       object-fit: contain;
    transform: scale(1.5);
    grid-row: 2/3;
  }
  .swiper .vecteur_batiment .building03 {
    position: absolute;
    -o-object-fit: contain;
       object-fit: contain;
    transform: scale(1.5);
    grid-row: 2/3;
  }
  .swiper .vecteur_batiment .building04 {
    position: relative;
    -o-object-fit: contain;
       object-fit: contain;
    transform: scale(1.8);
    grid-row: 2/3;
  }
  .swiper-pagination {
    position: absolute;
    z-index: 2;
  }
  .case_transparente {
    width: 100%;
    height: 30%;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    margin-top: -210px;
    padding: 2%;
    padding-top: 2%;
    padding-bottom: 0;
  }
  .case_transparente .titre {
    font-size: 160%;
    text-transform: uppercase;
  }
  .case_transparente .swiper02 {
    width: 100%;
  }
  .case_transparente .swiper02 .article_hero {
    padding-top: 1%;
    text-align: left;
    font-size: 13px;
  }
  .donation {
    background-color: #1c566d;
    width: 100%;
    height: 80vh;
    position: relative;
    display: grid;
    grid-template-rows: 3fr 1fr;
    z-index: 4;
  }
  .donation .titre_joindre {
    display: none;
  }
  .donation .descriptif_equipe {
    position: relative;
    text-align: center;
    font-size: 16px;
    padding: 4%;
    margin-top: -210px;
    z-index: 5;
  }
  .donation .titre_mobile {
    position: relative;
    font-size: 40px;
    text-align: center;
    margin-top: -300px;
    z-index: 5;
  }
  .donation img {
    width: 100%;
    height: 100%;
    grid-row: 1/4;
    -o-object-fit: cover;
       object-fit: cover;
    filter: brightness(0.45);
  }
  .donation button.membre {
    width: 100%;
    font-size: 24px;
    text-transform: uppercase;
    background-color: var(--pomme-verte);
    color: var(--blanc);
    border-radius: 35px;
    transform: scale(0.9, 1);
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .temoignages {
    width: 100vw;
    background-color: #1c566d;
    padding: 4vh 7vh 9vh 7vh;
  }
  .temoignages .entete h1 {
    text-align: center;
    font-size: 3vh;
    z-index: 1;
  }
  .temoignages .entete .rectangle {
    display: none;
  }
  .temoignages img.coeur {
    position: absolute;
    display: block;
    z-index: 2;
    transform: scale(0.3) translateY(44vh) translateX(177vw);
  }
  .temoignages img.up {
    position: absolute;
    display: block;
    transform: scale(0.3) translateY(48vh) translateX(185vw);
    z-index: 1;
  }
  .temoignages img.down {
    position: absolute;
    display: block;
    transform: scale(0.3) translateY(70vh) translateX(200vw);
    z-index: 2;
  }
  .temoignages .box {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5vh;
    max-width: 90%;
    background-color: var(--blanc);
    padding: 1vh 3vh;
  }
  .temoignages .box .utilisateur {
    padding: 0.5vh;
  }
  .temoignages .box h3 {
    font-size: 1vh;
    color: var(--noir);
    margin-bottom: 0.3vh;
  }
  .temoignages .box .description {
    font-size: 0.5vh;
    background-color: var(--gris-souris);
    padding: 0.5vh;
    text-align: left;
  }
  .infolettre {
    background-color: #1c7293;
  }
}
@media screen and (min-width: 768px) {
  body {
    background-color: var(--vert-menthe);
    background-image: url(./sources/medias/images/page_accueil/section_hero/decoration_logo.svg);
    background-size: cover;
    background-repeat: repeat-y;
    margin: 0px;
  }
  .pageblanche {
    background-color: white;
    margin: 0 auto;
    width: 90vw;
    height: 100%;
  }
  .swiper {
    z-index: 0;
  }
  .swiper .vecteur_batiment {
    margin-top: -714px;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: grid;
    grid-template-rows: 2fr 2fr;
  }
  .swiper .vecteur_batiment .building {
    position: absolute;
  }
  .swiper .vecteur_batiment .building01 {
    position: absolute;
    -o-object-fit: contain;
       object-fit: contain;
    grid-row: 2/3;
  }
  .swiper .vecteur_batiment .building02 {
    position: absolute;
    -o-object-fit: contain;
       object-fit: contain;
    transform: scale(1.2);
    grid-row: 2/3;
  }
  .swiper .vecteur_batiment .building03 {
    position: absolute;
    -o-object-fit: contain;
       object-fit: contain;
    transform: scale(1.5);
    grid-row: 2/3;
  }
  .swiper .vecteur_batiment .building04 {
    position: relative;
    -o-object-fit: contain;
       object-fit: contain;
    transform: scale(1.6);
    grid-row: 2/3;
  }
  .swiper-pagination {
    position: absolute;
    z-index: 2;
  }
  .case_transparente {
    width: 100%;
    height: 30%;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    margin-top: -200px;
    padding: 2%;
    padding-top: 1%;
    padding-bottom: 0;
  }
  .case_transparente .titre {
    font-size: xx-large;
    text-transform: uppercase;
  }
  .case_transparente .swiper02 {
    width: 100%;
  }
  .case_transparente .swiper02 .article_hero {
    padding-top: 1%;
    text-align: left;
    font-size: 14px;
  }
  .donation {
    background-color: #1c566d;
    width: 100%;
    height: 80vh;
    position: relative;
    display: grid;
    grid-template-rows: 1fr 1fr 2fr 1fr;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    grid-template-areas: "image titre titre titre" "image texte texte texte" "image texte texte texte" "image btn btn btn";
    z-index: 4;
  }
  .donation .titre_joindre {
    grid-area: titre;
    margin: 2%;
    padding-bottom: 18%;
    grid-row: 1/4;
    grid-column: 2/4;
    transform: scale(2);
  }
  .donation .titre_joindre img {
    width: 70%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .donation .descriptif_equipe {
    grid-area: texte;
    text-align: center;
    font-size: 16px;
    padding: 4%;
    margin-top: 10%;
    grid-row: 3/4;
    grid-column: 2/5;
  }
  .donation img {
    grid-area: image;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .donation .titre_mobile {
    display: none;
  }
  .donation button.membre {
    width: 100%;
    font-size: 32px;
    text-transform: uppercase;
    background-color: var(--pomme-verte);
    color: var(--blanc);
    border-radius: 35px;
    transform: scale(0.6, 0.5);
    grid-column: 2/5;
    grid-row: 4/4;
  }
  .temoignages {
    padding: 10vh;
    background-color: #1c566d;
  }
  .temoignages .entete {
    transform: translateX(5vw);
  }
  .temoignages .entete h1 {
    position: relative;
    margin-left: 4vw;
    font-size: 7vh;
    z-index: 1;
  }
  .temoignages .entete .rectangle {
    position: absolute;
    transform: translateX(10vw) translateY(-3vw);
    background: #194657;
    width: 65%;
    height: 5vh;
  }
  .temoignages img {
    transform: scale(0.5);
  }
  .temoignages img.coeur {
    position: absolute;
    display: block;
    z-index: 2;
    transform: translateY(-18vh) translateX(58vw);
  }
  .temoignages img.up {
    position: absolute;
    display: block;
    transform: translateY(-10vh) translateX(61vw);
    z-index: 1;
  }
  .temoignages img.down {
    position: absolute;
    display: block;
    transform: translateY(2vh) translateX(60vw);
    z-index: 2;
  }
  .temoignages .box {
    margin-left: auto;
    margin-right: auto;
    margin-top: 7vh;
    max-width: 90%;
    background-color: var(--blanc);
    padding: 4vh 8vh;
  }
  .temoignages .box .utilisateur {
    padding: 0.5vh;
  }
  .temoignages .box h3 {
    color: var(--noir);
    margin-bottom: 0.3vh;
  }
  .temoignages .box .description {
    background-color: var(--gris-souris);
    padding: 2vh;
    text-align: left;
  }
  .services {
    display: grid;
    grid-template-columns: repeat(8, auto-fit);
    grid-template-rows: repeat(4, 1fr);
    /*.infolettre {

    }*/
  }
  .services .titre_services {
    grid-column: span 8;
  }
}/*# sourceMappingURL=styles.css.map */