@use "partials-scss/articles-similaires";
@use "partials-scss/banniere-ecole";
@use "partials-scss/bannieres-services";
@use "partials-scss/boutons";
@use "partials-scss/cartes";
@use "partials-scss/couleurs";
@use "partials-scss/description-articles";
@use "partials-scss//description-services";
@use "partials-scss/footer";
@use "partials-scss/liste-service";
@use "partials-scss/nav";
@use "./partials-scss/texte";
@use "sass:color";

* {
    box-sizing: border-box;
}

.pageblanche {
    width: 100vw;
    overflow: hidden;
}

.hero {
    position: relative;
    width: 100%;
    height: 100%;

    .swiper {
        position: relative;

        .swiper-slide {
            height: 90vh;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .swiper-pagination-bullet-active {
        background: var(--bleu-calypso);
    }
}

.donation {
    background-color: color.adjust(#1c7293, $blackness: 15%);
    width: 100%;
    height: 100%;
}

.services {
    width: 100%;

}

.actualites {
    width: 100%;
    height: 100%;
}

.equipe {
    width: 100%;
    height: 100%;
}

.infolettre {
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
}

// page a propos
.a_propos {
    display: flex;
    flex-direction: column;


    img {

        margin-top: 5%;
        margin-bottom: 5%;
        margin-inline: auto auto;
        width: 80%;
        justify-self: center;
    }

    & h4.description {
        color: var(--noir);
        font-family: montserrat;
        width: 75%;
        text-align: justify;
        margin-inline: auto auto;
        margin-bottom: 5%;
        font-size: 120%;
    }
}

//equipe
.equipe {
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        border-radius: 5%;
        transition: 0.3s;
        width: 40%;
    }

    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }

    .container {
        padding: 2px 16px;
    }
}

@media screen and (max-width: 375px) {

    body {
        margin: 0;
    }

    .swiper {

        .swiper-slide {
            height: 80vh;
        }

        .vecteur_batiment {
            bottom: 0;
            position: absolute;
            width: 100%;
            height: 70%;
            z-index: 1;

            .building {

                &01 {
                    position: absolute;
                    display: none;
                }

                &02 {
                    position: absolute;
                    display: none;
                }

                &03 {
                    position: absolute;
                    display: none;
                }
            }
        }

    }

    .case_transparente {
        width: 100%;
        height: 35%;
        z-index: 3;
        background-color: rgba($color: black, $alpha: 0.5);
        position: absolute;
        bottom: 0;
        padding: 10px 20px;

        .titre {
            font-size: 22px;
            text-transform: uppercase;
            margin-bottom: 4px;
        }

        .swiper02 {

            .article_hero {
                text-align: left;
                font-size: 12px;
            }
        }
    }

    /*section donation*/
    .donation {
        background-color: color.adjust(#1c7293, $blackness: 15%);
        width: 100%;
        height: 70vh;
        position: relative;
        display: grid;
        grid-template-rows: 1fr 1fr;
        z-index: 4;

        .titre_joindre {
            display: none;
        }

        .descriptif_equipe {
            position: relative;
            text-align: center;
            font-size: 12px;
            padding: 4%;
            margin-top: -240px;
            z-index: 5;
        }

        .titre_mobile {
            position: relative;
            font-size: 24px;
            text-align: center;
            margin-top: -330px;
            z-index: 5;
        }

        img {
            width: 100%;
            height: 90%;
            grid-row: 1/4;
            object-fit: cover;
            filter: brightness(0.45);
        }

        button.membre {
            display: block;
            width: 80%;
            font-size: 20px;
            text-transform: uppercase;
            background-color: var(--pomme-verte);
            color: var(--blanc);
            border-radius: 35px;
            margin: 50px auto;
        }

    }

    /*section temoignage*/
    .temoignages {
        z-index: 10;
        background-color: var(--blanc);

        .entete {
            background-color: color.adjust(#1c7293, $blackness: 15%);
            padding: 2vh 0 2vh 0;

            h1 {
                position: relative;
                text-align: center;
                font-size: 2.5vh;
                z-index: 1;
                width: 100vw;

            }

            .rectangle {
                display: none;
            }


            .icone_box {
                z-index: 2;
                max-width: 40%;
                margin-top: 2vh;
                margin-left: 30vw;

            }

        }



    }

    .box {
        min-width: 100vw;
        background-color: var(--blanc);
        padding: 1vh 3vh;


        .utilisateur {
            padding: 0.5vh;
        }

        h3 {
            font-size: 1vh;
            color: var(--noir);
            margin-bottom: 0.3vh;
        }

        .description {
            font-size: 0.5vh;
            background-color: var(--gris-souris);
            padding: 0.5vh;
            text-align: left;
        }
    }

}

.actualites {
    height: 100%;
    background-image: url("./medias/images/page_accueil/section_actualite/maison_desktop.svg");
    background-position: center 5px;
    background-repeat: no-repeat;
    min-width: 100%;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 25px;
    row-gap: 15px;

    .empty {
        height: 50px;
        width: 100%;
        grid-row-start: 1;
    }

    .titre_actualites {
        width: 95%;
        grid-column: span 3;
        margin: auto auto;
    }
}

.equipe {
    height: 100%;
    background-image: url("./medias/images/page_accueil/section_actualite/maison_desktop.svg");
    background-position: center 5px;
    background-repeat: no-repeat;
    min-width: 100%;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 25px;
    row-gap: 15px;

    .empty {
        height: 50px;
        width: 100%;
        grid-row-start: 1;
    }

    .titre_equipe {
        width: 95%;
        grid-column: span 3;
        margin: auto auto;
    }
}

.services {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;

    .titre_services {
        width: 100%;
        transform: scale(0.5);
    }

    .s_congres {
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 20px;
        text-align: center;

        & .titre {
            grid-column: 1/3;
            font-size: 32px;
        }

        & .info {
            grid-column: 1/4;

            font-size: 18px;
        }
    }

    .s_infolettre {
        padding-top: 10px;
        ;
        padding-bottom: 10px;
        margin-bottom: 20px;
        text-align: center;

        & .titre {
            font-size: 32px;
        }

        & .info {
            font-size: 18px;
        }
    }

    .s_environnement {
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 20px;
        text-align: center;

        & .titre {
            font-size: 32px;
        }

        & .info {
            font-size: 18px;
        }
    }

    .s_comite {
        padding-top: 10px;
        text-align: center;
        padding-bottom: 10px;

        & .titre {
            font-size: 32px;
        }

        & .info {

            font-size: 18px;
        }
    }
}


.infolettre {
    height: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    //padding: 5vh 3vh 5vh 3ch;
    max-width: 80vw;
    background-color: var(--blanc);


    .title {
        margin-left: -20%;
        padding: 3% 0;
        width: 70%;
    }

    .boite_question {
        background-color: color.adjust(#1c7293, $blackness: 15%);
        display: grid;
        text-align: left;
        grid-template-areas:
            "question"
            "answer"
            "question"
            "answer"
            "question"
            "answer";

    }

    .join {
        margin-right: -20%;
        margin-top: 5%;
        width: 80%;
    }

    .question {
        padding: 1vh;
    }

    .answer {
        grid-area: description;
        background-color: #0E769E;
        padding: 1vh;
    }

    .input {
        margin-top: 5vh;
        background-color: #E6E6E6;
        border: var(--bleu-calypso) 0.3vh solid;
        width: 80vw;
        padding: 1vh;
    }

    .souris_icone {
        width: 3vw;
        position: absolute;
        transform: translateY(-45%);
        right: 10%;
    }
}

/