:root {
  --gris-souris: #a7a7a7;
  --pomme-verte: #8AE190;
  --bleu-calypso: #1C7293;
  --bleu-paisible: #59B1D3;
  --vert-menthe: #C1F9C5;
  --blanc: #ffffff;
  --noir: #000000;
}

.similaires {
  background-color: var(--pomme-verte);
  color: var(--blanc);
}

.pagination {
  background-color: var(--gris-souris);
  color: var(--bleu-calypso);
}

@media screen and (max-width: 375px) {
  .banniere {
    background-color: var(--bleu-calypso);
    padding: 4%;
    display: grid;
    text-align: center;
    gap: 10px;
  }
  .banniere button.fermer {
    padding: 1em;
    width: 90vw;
    border-radius: 0.8em;
    font-size: 3vw;
  }
  .banniere button.visiter {
    padding: 1em;
    width: 90vw;
    border-radius: 0.8em;
    font-size: 3vw;
  }
  .banniere p {
    font-size: 14px;
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 375px) and (max-width: 768px) {
  .banniere {
    background-color: var(--bleu-calypso);
    padding: 2%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 7px;
  }
  .banniere .banniere_btn {
    display: flex;
    align-items: center;
    display: grid;
    gap: 7px;
    grid-template-columns: auto auto;
  }
  .banniere .banniere_btn button.fermer {
    padding: 1em;
    width: 12vw;
    border-radius: 0.8em;
    font-size: 1.4vw;
  }
  .banniere .banniere_btn button.visiter {
    padding: 1em;
    width: 12vw;
    border-radius: 0.8em;
    font-size: 1.4vw;
  }
  .banniere p {
    margin: auto 0;
    font-size: 14px;
  }
}
@media screen and (min-width: 769px) {
  .banniere {
    background-color: var(--bleu-calypso);
    padding: 1% 2%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 7px;
  }
  .banniere .banniere_btn {
    display: flex;
    align-items: center;
    display: grid;
    gap: 7px;
    grid-template-columns: auto auto;
  }
  .banniere .banniere_btn button.fermer {
    padding: 0.7em;
    width: 12vw;
    border-radius: 0.8em;
  }
  .banniere .banniere_btn button.visiter {
    padding: 0.7em;
    width: 12vw;
    border-radius: 0.8em;
  }
  .banniere p {
    margin: auto 0;
    font-size: 16px;
  }
}
.s_congres {
  background-color: var(--bleu-calypso);
}

.s_infolettre {
  background-color: var(--gris-souris);
}

.s_environnement {
  background-color: var(--pomme-verte);
}

.s_comite {
  background-color: var(--bleu-calypso);
}

button {
  padding: 1em;
  width: 20vw;
  border-radius: 35px;
  font-family: "montserrat";
  font-weight: bold;
  border: none;
  box-shadow: 5px 5px 5px #1c566d;
}
button.voir_plus {
  background-color: var(--vert-menthe);
  color: var(--blanc);
}
button.membre_footer {
  width: 50%;
  height: 30%;
  background-color: var(--pomme-verte);
  color: var(--blanc);
  border-radius: 35px;
  font-size: 1.5vw;
  grid-column: 3/5;
  grid-row: 4/4;
}
button.pagination {
  background-color: var(--gris-souris);
  color: var(--bleu-calypso);
}
button.fermer {
  background-color: var(--gris-souris);
  color: var(--blanc);
  padding: 1em;
  width: 12vw;
  font-size: 1vw;
}
button.visiter {
  background-color: #1c566d;
  color: var(--blanc);
  padding: 1em;
  width: 12vw;
  font-size: 1vw;
}
button.footer {
  background-color: var(--pomme-verte);
}

.card01 {
  display: grid;
  grid-column: span 3;
  background-color: var(--bleu-calypso);
  grid-template-columns: 1fr 4fr;
  grid-template-areas: "image titre titre" "image texte texte";
}
.card01 img {
  grid-area: image;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card01 .titre_solo_actualite {
  margin-top: 3%;
  margin-left: 3%;
  grid-area: titre;
}
.card01 .descriptif_actualite {
  grid-area: texte;
  margin: 0 3%;
}
.card02 {
  display: grid;
  grid-column: span 3;
  background-color: var(--bleu-calypso);
  grid-template-columns: 1fr 4fr;
  grid-template-areas: "image titre titre" "image texte texte";
}
.card02 img {
  grid-area: image;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card02 .titre_solo_actualite {
  margin-top: 3%;
  margin-left: 3%;
  grid-area: titre;
}
.card02 .descriptif_actualite {
  grid-area: texte;
  margin: 0 3%;
}
.card03 {
  display: grid;
  grid-column: span 3;
  background-color: var(--bleu-calypso);
  grid-template-columns: 1fr 4fr;
  grid-template-areas: "image titre titre" "image texte texte";
}
.card03 img {
  grid-area: image;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card03 .titre_solo_actualite {
  margin-top: 3%;
  margin-left: 3%;
  grid-area: titre;
}
.card03 .descriptif_actualite {
  grid-area: texte;
  margin: 0 3%;
}

@media screen and (min-width: 375px) and (max-width: 768px) {
  .card01 {
    grid-template-columns: 2fr 2fr;
  }
  .card01 .titre_solo_actualite {
    margin: 5% 3%;
    font-size: 14px;
  }
  .card01 .descriptif_actualite {
    font-size: 12px;
  }
  .card02 {
    grid-template-columns: 2fr 2fr;
  }
  .card02 .titre_solo_actualite {
    margin: 5% 3%;
    font-size: 14px;
  }
  .card02 .descriptif_actualite {
    font-size: 12px;
  }
  .card03 {
    grid-template-columns: 2fr 2fr;
  }
  .card03 .titre_solo_actualite {
    margin: 5% 3%;
    font-size: 14px;
  }
  .card03 .descriptif_actualite {
    font-size: 12px;
  }
}
@media screen and (max-width: 375px) {
  .card01 {
    display: block;
    background-color: var(--bleu-calypso);
    grid-template-columns: 1fr;
  }
  .card01 img {
    width: 100%;
    height: 15vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .card01 .titre_solo_actualite {
    margin: 5% 3%;
    text-align: center;
    font-size: 14px;
  }
  .card01 .descriptif_actualite {
    margin: 3% 3%;
    text-align: center;
    font-size: 12px;
  }
  .card02 {
    display: block;
    background-color: var(--bleu-calypso);
    grid-template-columns: 1fr;
  }
  .card02 img {
    grid-area: image;
    width: 100%;
    height: 15vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .card02 .titre_solo_actualite {
    margin: 5% 3%;
    text-align: center;
    font-size: 14px;
  }
  .card02 .descriptif_actualite {
    margin: 3% 3%;
    text-align: center;
    font-size: 12px;
  }
  .card03 {
    display: block;
    background-color: var(--bleu-calypso);
    grid-template-columns: 1fr;
  }
  .card03 img {
    width: 100%;
    height: 15vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .card03 .titre_solo_actualite {
    margin: 5% 3%;
    text-align: center;
    font-size: 14px;
  }
  .card03 .descriptif_actualite {
    margin: 3% 3%;
    text-align: center;
    font-size: 12px;
  }
}
.bloc-articles-similaires {
  background-color: var(--pomme-verte);
  color: var(--noir);
}

h2 {
  color: var(--pomme-verte);
}

a {
  color: var(--blanc);
}

.bloc-description {
  background-color: var(--gris-souris);
  color: var(--blanc);
}

@media screen and (max-width: 375px) {
  .footer {
    background-color: #1c566d;
    width: 100%;
    color: var(--blanc);
    display: grid;
    gap: 10px;
  }
  .footer .lien a:hover {
    color: var(--pomme-verte);
  }
  .footer .titre_footer {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .footer .icones_reseaux {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
  .footer .quebec {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .footer .cnl {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .footer .rohq {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .footer .frapru {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .footer .logo {
    margin-top: 10px;
    text-align: center;
  }
  .footer .logo img {
    width: 100%;
  }
  .footer p {
    font-size: 14px;
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
  }
  .footer .lien {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .footer .credit {
    margin-top: 10px;
    text-align: center;
    font-size: 10px;
    grid-column-start: 1;
    grid-column-end: 2;
    padding-bottom: 10px;
  }
  .footer .joindre {
    margin-top: 20px;
    margin-bottom: 0px;
  }
  .footer .partenaires {
    font-size: 16px;
    margin-top: 20px;
  }
  .footer .membership {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .footer button.membre_footer {
    padding: 10px;
    margin-top: 20px;
    width: 55%;
    height: 60px;
    font-size: 12px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 375px) and (max-width: 768px) {
  .footer {
    width: 100%;
    padding: 20px;
    background-color: #1c566d;
    color: var(--blanc);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fill);
  }
  .footer .column1 {
    width: 100%;
  }
  .footer .column1 .logo {
    width: 100%;
    transform: scale(0.9);
  }
  .footer .column1 .logo img {
    width: 100%;
  }
  .footer .column1 .lien a:hover {
    color: var(--pomme-verte);
  }
  .footer .columns2 {
    width: 50%;
  }
  .footer .columns2 .partners {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .footer .columns2 .partners .quebec {
    position: relative;
    transform: scale(0.7);
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .footer .columns2 .partners .frapru {
    position: relative;
    transform: scale(0.7);
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .footer .columns2 .partners .cnl {
    position: relative;
    transform: scale(0.7);
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .footer .columns2 .partners .rohq {
    position: relative;
    text-align: left;
    text-align: center;
    transform: scale(0.7);
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .footer .columns2 .membership {
    display: block;
    margin: auto;
    height: 100%;
    width: 50px;
    grid-column: 3/3;
    grid-row: 3/4;
    text-transform: uppercase;
    font-size: 32px;
  }
}
@media screen and (min-width: 768px) {
  .logo {
    transform: scale(0.6);
  }
  .footer {
    width: 100%;
    padding: 20px;
    background-color: #1c566d;
    color: var(--blanc);
    display: grid;
    grid-template-columns: repeat(auto-fit);
    grid-template-rows: repeat(auto-fit);
    gap: 5px;
  }
  .footer .column1 {
    grid-column: 1/2;
    padding-left: 5px;
    padding-top: 5px;
  }
  .footer .column1 .logo {
    width: 100%;
    transform: scale(0.9);
  }
  .footer .column1 .logo img {
    width: 100%;
  }
  .footer .column1 .icones_reseaux {
    display: grid;
    grid-template-columns: 60px 60px;
    grid-template-rows: auto;
  }
  .footer .column1 .icones_reseaux .youtube {
    grid-column: 1/1;
  }
  .footer .column1 .icones_reseaux .facebook {
    grid-column: 2/2;
  }
  .footer .column2 {
    grid-column: 2/3;
    padding-right: 5px;
    padding-top: 5px;
  }
  .footer .column2 .partners {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
  }
  .footer .column2 .partners .partenaires {
    grid-column: 1/3;
    text-align: center;
    margin-bottom: 2%;
  }
  .footer .column2 .partners .quebec {
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: center;
  }
  .footer .column2 .partners .frapru {
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: center;
  }
  .footer .column2 .partners .cnl {
    grid-column: 1/2;
    grid-row: 3/4;
    text-align: center;
  }
  .footer .column2 .partners .rohq {
    grid-column: 2/3;
    grid-row: 3/4;
    text-align: center;
  }
  .footer .column2 .joindre {
    text-align: center;
    grid-column: 3/3;
    grid-row: 3/4;
    text-align: center;
    margin-top: 4%;
  }
  .footer .column2 .membership {
    text-align: center;
    grid-column: 3/3;
    grid-row: 3/4;
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .page-liste-services .bloc-li-services {
    background-color: var(--blue-calypso);
  }
  .page-liste-services .credits {
    font-size: 9px;
  }
  .page-liste-services .services .c_contenu {
    padding-left: 0;
  }
  .page-liste-services .services .s_congres {
    padding-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    text-align: right;
    margin-right: 15%;
    margin-left: 0;
  }
  .page-liste-services .services .s_congres .titre__service--liste {
    grid-column: 1/3;
    font-size: 90px;
    text-align: left;
    padding-left: 20%;
    padding-right: 10%;
  }
  .page-liste-services .services .s_congres .info__service--liste {
    grid-column: 1/4;
    font-size: 28px;
    padding-left: 5%;
    text-align: left;
    padding-right: 10%;
  }
  .page-liste-services .services .i_contenu {
    padding-right: 0;
  }
  .page-liste-services .services .s_infolettre {
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    display: grid;
    margin-right: 0;
    margin-left: 15%;
    overflow-x: hidden;
  }
  .page-liste-services .services .s_infolettre .titre {
    text-align: left;
    font-size: 90px;
    padding-left: 10%;
  }
  .page-liste-services .services .s_infolettre .info {
    font-size: 28px;
  }
}
@font-face {
  src: url("../medias/font/Montserrat/Montserrat.ttf") format("truetype");
  font-family: "montserrat";
}
@font-face {
  src: url("../medias/font/Merriweather_Sans/MerriweatherSans.ttf") format("truetype");
  font-family: "merriweather";
}
h1 {
  font-family: "merriweather";
  font-weight: bold;
  color: var(--blanc);
}

h2 {
  font-family: "merriweather";
  font-weight: bold;
  color: var(--blanc);
}

h3 {
  font-family: "montserrat";
  font-weight: medium;
  color: var(--blanc);
  font-size: 24px;
}

p {
  font-family: "montserrat";
  font-weight: 600;
  color: var(--blanc);
}

.credit {
  font-family: "montserrat";
  font-weight: 300;
  color: var(--blanc);
}

a {
  font-family: "montserrat";
  font-weight: 300;
  color: var(--blanc);
}

.nav .navbar {
  background-color: var(--bleu-paisible);
  padding: 20px 0;
}
.nav .navbar ul {
  padding: 0;
  margin: 0;
  justify-content: space-evenly;
}
.nav .nav_menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav .nav_menu .autre {
  margin-right: 0;
}
.nav .nav_menu .autre .loupe {
  margin-right: 25px;
}
.nav .nav_menu .autre select {
  font-weight: 500;
  padding: 5px;
  font-size: 100%;
  padding-right: 20px;
  color: var(--blanc);
  border: 2px var(--blanc) solid;
  background-color: transparent;
}
.nav .nav_menu li {
  list-style: none;
}
.nav .nav_menu li a {
  font-size: 100%;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
.nav .nav_menu li a.nav-link {
  padding-bottom: 1vh;
}
.nav .nav_menu li a:hover {
  border-bottom: solid 3px white;
}
.nav .nav_menu .right_side_nav {
  display: flex;
  justify-content: end;
}
.nav .hamburger {
  display: none;
  cursor: pointer;
}
.nav .bar {
  display: block;
  width: 25px;
  height: 5px;
  margin: 5px auto;
  transition: all 1s ease;
  background-color: white;
}

@media screen and (min-width: 375px) and (max-width: 768px) {
  .nav .navbar {
    background-color: var(--bleu-paisible);
    padding: 20px 0;
  }
  .nav .navbar ul {
    padding: 0;
    margin: 0;
  }
  .nav .nav_menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .nav .nav_menu .autre .loupe {
    margin-left: 12vw;
  }
  .nav .nav_menu .autre select {
    width: 55px;
    font-size: 10px;
    font-weight: 500;
    padding: 3px;
    margin-right: 2vw;
  }
  .nav .nav_menu li {
    list-style: none;
  }
  .nav .nav_menu li a {
    font-size: 10px;
  }
  .nav .nav_menu li a.nav-link {
    padding-bottom: 1vh;
  }
  .nav .nav_menu li a:hover {
    border-bottom: solid 3px white;
  }
  .nav .hamburger {
    display: none;
    cursor: pointer;
  }
  .nav .bar {
    display: block;
    width: 25px;
    height: 5px;
    margin: 5px auto;
    transition: all 0.1s ease;
    background-color: white;
  }
}
@media screen and (max-width: 375px) {
  .nav .navbar .hamburger {
    display: block;
  }
  .nav .navbar .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .nav .navbar .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .nav .navbar .hamburger.active .bar:nth-child(3) {
    transform: translateY(-12px) rotate(-45deg);
  }
  .nav .navbar .nav_menu {
    display: none;
    opacity: 0;
    transition: opacity 0.1s ease;
  }
  .nav .navbar .nav_menu.active {
    display: flex;
    flex-direction: column;
    opacity: 1;
  }
}
* {
  box-sizing: border-box;
}

.pageblanche {
  width: 100vw;
  overflow: hidden;
}

.hero {
  position: relative;
  width: 100%;
  height: 100%;
}
.hero .swiper {
  position: relative;
}
.hero .swiper .swiper-slide {
  height: 90vh;
}
.hero .swiper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero .swiper-pagination-bullet-active {
  background: var(--bleu-calypso);
}

.donation {
  background-color: #1c566d;
  width: 100%;
  height: 100%;
}

.services {
  width: 100%;
}

.actualites {
  width: 100%;
  height: 100%;
}

.equipe {
  width: 100%;
  height: 100%;
}

.infolettre {
  width: 100%;
  height: 100%;
  margin-bottom: 50px;
}

.a_propos {
  display: flex;
  flex-direction: column;
}
.a_propos img {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-inline: auto auto;
  width: 80%;
  justify-self: center;
}
.a_propos h4.description {
  color: var(--noir);
  font-family: montserrat;
  width: 75%;
  text-align: justify;
  margin-inline: auto auto;
  margin-bottom: 5%;
  font-size: 120%;
}

.equipe .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5%;
  transition: 0.3s;
  width: 40%;
}
.equipe .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.equipe .container {
  padding: 2px 16px;
}

@media screen and (max-width: 375px) {
  body {
    margin: 0;
  }
  .swiper .swiper-slide {
    height: 80vh;
  }
  .swiper .vecteur_batiment {
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 70%;
    z-index: 1;
  }
  .swiper .vecteur_batiment .building01 {
    position: absolute;
    display: none;
  }
  .swiper .vecteur_batiment .building02 {
    position: absolute;
    display: none;
  }
  .swiper .vecteur_batiment .building03 {
    position: absolute;
    display: none;
  }
  .case_transparente {
    width: 100%;
    height: 35%;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    padding: 10px 20px;
  }
  .case_transparente .titre {
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 4px;
  }
  .case_transparente .swiper02 .article_hero {
    text-align: left;
    font-size: 12px;
  }
  /*section donation*/
  .donation {
    background-color: #1c566d;
    width: 100%;
    height: 70vh;
    position: relative;
    display: grid;
    grid-template-rows: 1fr 1fr;
    z-index: 4;
  }
  .donation .titre_joindre {
    display: none;
  }
  .donation .descriptif_equipe {
    position: relative;
    text-align: center;
    font-size: 12px;
    padding: 4%;
    margin-top: -240px;
    z-index: 5;
  }
  .donation .titre_mobile {
    position: relative;
    font-size: 24px;
    text-align: center;
    margin-top: -330px;
    z-index: 5;
  }
  .donation img {
    width: 100%;
    height: 90%;
    grid-row: 1/4;
    -o-object-fit: cover;
       object-fit: cover;
    filter: brightness(0.45);
  }
  .donation button.membre {
    display: block;
    width: 80%;
    font-size: 20px;
    text-transform: uppercase;
    background-color: var(--pomme-verte);
    color: var(--blanc);
    border-radius: 35px;
    margin: 50px auto;
  }
  /*section temoignage*/
  .temoignages {
    z-index: 10;
    background-color: var(--blanc);
  }
  .temoignages .entete {
    background-color: #1c566d;
    padding: 2vh 0 2vh 0;
  }
  .temoignages .entete h1 {
    position: relative;
    text-align: center;
    font-size: 2.5vh;
    z-index: 1;
    width: 100vw;
  }
  .temoignages .entete .rectangle {
    display: none;
  }
  .temoignages .entete .icone_box {
    z-index: 2;
    max-width: 40%;
    margin-top: 2vh;
    margin-left: 30vw;
  }
  .box {
    min-width: 100vw;
    background-color: var(--blanc);
    padding: 1vh 3vh;
  }
  .box .utilisateur {
    padding: 0.5vh;
  }
  .box h3 {
    font-size: 1vh;
    color: var(--noir);
    margin-bottom: 0.3vh;
  }
  .box .description {
    font-size: 0.5vh;
    background-color: var(--gris-souris);
    padding: 0.5vh;
    text-align: left;
  }
}
.actualites {
  height: 100%;
  background-image: url("./medias/images/page_accueil/section_actualite/maison_desktop.svg");
  background-position: center 5px;
  background-repeat: no-repeat;
  min-width: 100%;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 25px;
  row-gap: 15px;
}
.actualites .empty {
  height: 50px;
  width: 100%;
  grid-row-start: 1;
}
.actualites .titre_actualites {
  width: 95%;
  grid-column: span 3;
  margin: auto auto;
}

.equipe {
  height: 100%;
  background-image: url("./medias/images/page_accueil/section_actualite/maison_desktop.svg");
  background-position: center 5px;
  background-repeat: no-repeat;
  min-width: 100%;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 25px;
  row-gap: 15px;
}
.equipe .empty {
  height: 50px;
  width: 100%;
  grid-row-start: 1;
}
.equipe .titre_equipe {
  width: 95%;
  grid-column: span 3;
  margin: auto auto;
}

.services {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}
.services .titre_services {
  width: 100%;
  transform: scale(0.5);
}
.services .s_congres {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  text-align: center;
}
.services .s_congres .titre {
  grid-column: 1/3;
  font-size: 32px;
}
.services .s_congres .info {
  grid-column: 1/4;
  font-size: 18px;
}
.services .s_infolettre {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  text-align: center;
}
.services .s_infolettre .titre {
  font-size: 32px;
}
.services .s_infolettre .info {
  font-size: 18px;
}
.services .s_environnement {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  text-align: center;
}
.services .s_environnement .titre {
  font-size: 32px;
}
.services .s_environnement .info {
  font-size: 18px;
}
.services .s_comite {
  padding-top: 10px;
  text-align: center;
  padding-bottom: 10px;
}
.services .s_comite .titre {
  font-size: 32px;
}
.services .s_comite .info {
  font-size: 18px;
}

.infolettre {
  height: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  max-width: 80vw;
  background-color: var(--blanc);
}
.infolettre .title {
  margin-left: -20%;
  padding: 3% 0;
  width: 70%;
}
.infolettre .boite_question {
  background-color: #1c566d;
  display: grid;
  text-align: left;
  grid-template-areas: "question" "answer" "question" "answer" "question" "answer";
}
.infolettre .join {
  margin-right: -20%;
  margin-top: 5%;
  width: 80%;
}
.infolettre .question {
  padding: 1vh;
}
.infolettre .answer {
  grid-area: description;
  background-color: #0E769E;
  padding: 1vh;
}
.infolettre .input {
  margin-top: 5vh;
  background-color: #E6E6E6;
  border: var(--bleu-calypso) 0.3vh solid;
  width: 80vw;
  padding: 1vh;
}
.infolettre .souris_icone {
  width: 3vw;
  position: absolute;
  transform: translateY(-45%);
  right: 10%;
}

/*page joindre*/
.joindre_page {
  display: flex;
  flex-direction: column;
  border: red 2px solid;
}
.joindre_page img.titre {
  width: 50%;
  justify-self: center;
  align-self: center;
  margin-block: 4%;
}
.joindre_page .information {
  height: 100vh;
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 15%;
}
.joindre_page .poste {
  grid-area: 1/1/2/5;
  background-color: var(--bleu-calypso);
  padding: 2%;
}
.joindre_page .courriel {
  grid-area: 2/2/3/6;
  background-color: var(--gris-souris);
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.joindre_page .copieur {
  grid-area: 3/1/4/5;
  background-color: var(--bleu-calypso);
  padding: 2%;
}
.joindre_page .formulaire {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.joindre_page .formulaire img {
  width: 90%;
}
.joindre_page .formulaire form {
  margin-top: 1%;
  margin-bottom: 2%;
  margin-left: 2%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  justify-self: flex-start;
  width: 80%;
  /*.contenue{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding: 5%;

      button{
          align-self: center;
          justify-self: center;
          width: 20%;
          border-radius: 1%;
          font-size: 120%;
      }

      input{
          align-self: flex-start;
          width: 50%;
          padding: 2%;
      }

      div{
          margin-block: 2%;
          align-items: flex-start;
          justify-items: flex-start;

          label{
              font-size: 300%;
              margin-right: 20%;

          }
              }

  }*/
}
.joindre_page .formulaire form .contenue {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.joindre_page .formulaire form label .prenom {
  grid-area: 1/1/2/2;
}
.joindre_page .formulaire form input #fname {
  grid-area: 1/2/2/3;
}
.joindre_page .formulaire form .nom label {
  grid-area: 2/1/3/2;
}
.joindre_page .formulaire form input #nom {
  grid-area: 2/2/3/3;
}
.joindre_page .formulaire form .adresse_courriel label {
  grid-area: 3/1/4/2;
}
.joindre_page .formulaire form input #email {
  grid-area: 3/2/4/3;
}
.joindre_page .formulaire form .message label {
  grid-area: 4/1/5/2;
}
.joindre_page .formulaire form .message input {
  grid-area: 4/2/5/3;
}
.joindre_page .formulaire form button {
  grid-area: 5/1/6/3;
}

@media screen and (min-width: 375px) and (max-width: 768px) {
  body {
    margin: 0;
  }
  .swiper .vecteur_batiment {
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 70%;
    z-index: 1;
  }
  .swiper .vecteur_batiment .building01 {
    position: absolute;
  }
  .swiper .vecteur_batiment .building02 {
    position: absolute;
  }
  .swiper .vecteur_batiment .building03 {
    position: absolute;
  }
  .case_transparente {
    width: 100%;
    height: 27%;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    padding: 10px 20px;
  }
  .case_transparente .titre {
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 4px;
  }
  .case_transparente .swiper02 .article_hero {
    text-align: left;
    font-size: 12px;
  }
  .donation {
    background-color: #1c566d;
    width: 100%;
    height: 80vh;
    position: relative;
    display: grid;
    grid-template-rows: 3fr 1fr;
    z-index: 4;
  }
  .donation .titre_joindre {
    display: none;
  }
  .donation .descriptif_equipe {
    position: relative;
    text-align: center;
    font-size: 16px;
    padding: 4%;
    margin-top: -210px;
    z-index: 5;
  }
  .donation .titre_mobile {
    position: relative;
    font-size: 40px;
    text-align: center;
    margin-top: -300px;
    z-index: 5;
  }
  .donation img {
    width: 100%;
    height: 100%;
    grid-row: 1/4;
    -o-object-fit: cover;
       object-fit: cover;
    filter: brightness(0.45);
  }
  .donation button.membre {
    display: block;
    width: 70%;
    font-size: 24px;
    text-transform: uppercase;
    background-color: var(--pomme-verte);
    color: var(--blanc);
    border-radius: 35px;
    margin: 50px auto;
  }
  .temoignages {
    width: 100%;
    height: 100%;
    background-color: #1c566d;
    padding: 4vh 7vh 9vh 7vh;
  }
  .temoignages .entete h1 {
    font-size: 2.5vh;
    margin-left: 5%;
  }
  .temoignages .icone_box {
    display: none;
  }
  .temoignages .title {
    display: none;
  }
  .temoignages .destop_icon {
    width: 20%;
    transform: translateY(17vh) translateX(55vw);
  }
  .temoignages .box {
    margin-left: auto;
    margin-right: auto;
    margin-top: -19%;
    max-width: 90%;
    background-color: var(--blanc);
    padding: 1vh 3vh;
  }
  .temoignages .box .utilisateur {
    padding: 0.5vh;
  }
  .temoignages .box h3 {
    font-size: 1vh;
    color: var(--noir);
    margin-bottom: 0.3vh;
  }
  .temoignages .box .description {
    font-size: 0.5vh;
    background-color: var(--gris-souris);
    padding: 0.5vh;
    text-align: left;
  }
  .infolettre {
    background-color: #1c7293;
    margin-bottom: 50px;
  }
  .services {
    height: 100%;
    width: 100%;
    margin-bottom: 20px;
  }
  .services .titre_services {
    width: 100%;
    transform: scale(0.5);
  }
  .services .c_contenu {
    padding-left: 10%;
  }
  .services .s_congres {
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    text-align: left;
    margin-left: 15%;
  }
  .services .s_congres .titre {
    grid-column: 1/3;
    font-size: 32px;
  }
  .services .s_congres .info {
    grid-column: 1/4;
    font-size: 18px;
  }
  .services .s_infolettre {
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    display: grid;
    margin-right: 15%;
  }
  .services .s_infolettre .titre {
    text-align: right;
    font-size: 32px;
  }
  .services .s_infolettre .info {
    font-size: 18px;
  }
  .services .s_environnement {
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    text-align: right;
    margin-right: 15%;
  }
  .services .s_environnement .titre {
    padding-right: 20px;
    font-size: 32px;
  }
  .services .s_environnement .info {
    font-size: 18px;
  }
  .services .com_contenu {
    padding-left: 10%;
  }
  .services .s_comite {
    padding-left: 30px;
    padding-top: 10px;
    text-align: left;
    padding-bottom: 10px;
    margin-left: 25%;
  }
  .services .s_comite .titre {
    font-size: 32px;
  }
  .services .s_comite .info {
    font-size: 18px;
  }
  .actualites {
    height: 100%;
    background-image: url("./medias/images/page_accueil/section_actualite/maison_desktop.svg");
    background-position: center 5px;
    background-repeat: no-repeat;
    min-width: 100%;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 25px;
    row-gap: 15px;
  }
  .actualites .empty {
    height: 50px;
    width: 100%;
    grid-row-start: 1;
  }
  .actualites .titre_actualites {
    width: 90%;
    grid-column: span 3;
    margin: auto auto;
  }
  .infolettre {
    height: 100%;
    background-color: var(--blanc);
    text-align: center;
    margin-left: auto;
    margin-bottom: 20px;
    margin-right: auto;
    max-width: 80vw;
  }
  .infolettre .title {
    margin-left: -20%;
    padding: 3% 0;
    width: 70%;
  }
  .infolettre .boite_question {
    background-color: #1c566d;
    display: grid;
    text-align: left;
    grid-template-areas: "question" "answer" "question" "answer" "question" "answer";
  }
  .infolettre .join {
    margin-right: -20%;
    margin-top: 5%;
    width: 80%;
  }
  .infolettre .question {
    padding: 1vh;
  }
  .infolettre .answer {
    grid-area: description;
    background-color: #0E769E;
    padding: 1vh;
  }
  .infolettre .input {
    margin-top: 5vh;
    background-color: #E6E6E6;
    border: var(--bleu-calypso) 0.3vh solid;
    width: 80vw;
    padding: 1vh;
  }
  .infolettre .souris_icone {
    width: 3vw;
    position: absolute;
    transform: translateY(-45%);
    right: 10%;
  }
}
@media screen and (min-width: 768px) {
  body {
    background-color: var(--vert-menthe);
    background-image: url(./medias/images/page_accueil/section_hero/decoration_logo.svg);
    background-size: cover;
    background-repeat: repeat-y;
    margin: 0px;
  }
  .pageblanche {
    width: 90vw;
    background-color: white;
    margin: 0 auto;
  }
  .swiper .vecteur_batiment {
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 60%;
    z-index: 1;
  }
  .swiper .vecteur_batiment .building01 {
    position: absolute;
  }
  .swiper .vecteur_batiment .building02 {
    position: absolute;
  }
  .swiper .vecteur_batiment .building03 {
    position: absolute;
  }
  .case_transparente {
    width: 100%;
    height: 27%;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    padding: 10px 15px;
  }
  .case_transparente .titre {
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 4px;
  }
  .case_transparente .swiper02 .article_hero {
    text-align: left;
    font-size: 16px;
  }
  .donation {
    position: relative;
    display: grid;
    grid-template-columns: 3fr 2fr;
    margin-bottom: 50px;
  }
  .donation .titre_joindre {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
  }
  .donation .titre_joindre .joindre {
    width: 100%;
    max-width: 500px;
  }
  .donation .donation_img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 15% 0;
       object-position: 15% 0;
  }
  .donation .bloc_information {
    padding-top: 300px;
    padding: 300px 30px 30px 30px;
  }
  .donation .bloc_information .descriptif_equipe {
    font-size: 16px;
    margin-bottom: 50px;
  }
  .donation .bloc_information .btn_donation {
    margin-top: -20px;
  }
  .donation .bloc_information .btn_donation button.membre {
    display: block;
    padding: 15px;
    font-size: 20px;
    text-transform: uppercase;
    background-color: var(--pomme-verte);
    color: var(--blanc);
    margin: auto;
  }
  .temoignages {
    height: 100%;
    padding: 10vh;
    background-color: #1c566d;
  }
  .temoignages .entete {
    display: none;
  }
  .temoignages .title {
    width: 70%;
    margin-left: 5%;
    margin-right: auto;
  }
  .temoignages .icone_box {
    display: none;
  }
  .temoignages .destop_icon {
    display: none;
  }
  .temoignages .box {
    margin-left: auto;
    margin-right: auto;
    margin-top: -3%;
    max-width: 90%;
    background-color: var(--blanc);
    padding: 1vh 3vh;
  }
  .temoignages .box .utilisateur {
    padding: 0.5vh;
  }
  .temoignages .box h3 {
    font-size: 2vh;
    color: var(--noir);
    margin-bottom: 0.3vh;
  }
  .temoignages .box .description {
    font-size: 85%;
    background-color: var(--gris-souris);
    padding: 0.5vh;
    text-align: left;
  }
  .services {
    height: 100%;
    width: 100%;
    margin-bottom: 20px;
  }
  .services .titre_services {
    width: 100%;
    transform: scale(0.5);
  }
  .services .c_contenu {
    padding-left: 10%;
  }
  .services .s_congres {
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    text-align: left;
    margin-left: 15%;
  }
  .services .s_congres .titre {
    grid-column: 1/3;
    font-size: 32px;
  }
  .services .s_congres .info {
    grid-column: 1/4;
    font-size: 18px;
  }
  .services .s_infolettre {
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    display: grid;
    margin-right: 15%;
  }
  .services .s_infolettre .titre {
    text-align: right;
    font-size: 32px;
  }
  .services .s_infolettre .info {
    font-size: 18px;
  }
  .services .s_environnement {
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    text-align: right;
    margin-right: 35%;
  }
  .services .s_environnement .titre {
    padding-right: 20px;
    font-size: 32px;
  }
  .services .s_environnement .info {
    font-size: 18px;
  }
  .services .com_contenu {
    padding-left: 10%;
  }
  .services .s_comite {
    padding-left: 30px;
    padding-top: 10px;
    text-align: left;
    padding-bottom: 10px;
    margin-left: 25%;
  }
  .services .s_comite .titre {
    font-size: 32px;
  }
  .services .s_comite .info {
    font-size: 18px;
  }
  .actualites {
    height: 100%;
    background-image: url("./medias/images/page_accueil/section_actualite/maison_desktop.svg");
    background-position: center 5px;
    background-repeat: no-repeat;
    min-width: 100%;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 25px;
    row-gap: 15px;
  }
  .actualites .empty {
    height: 330px;
    width: 100%;
    grid-row-start: 1;
  }
  .actualites .titre_actualites {
    width: 90%;
    grid-column: 2/3;
    grid-row-start: 2;
    margin: auto auto;
  }
  .infolettre {
    height: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    max-width: 80vw;
  }
  .infolettre .title {
    margin-left: -20%;
    padding: 3% 0;
    width: 70%;
  }
  .infolettre .boite_question {
    background-color: #1c566d;
    display: grid;
    text-align: left;
    grid-template-areas: "question" "answer" "question" "answer" "question" "answer";
  }
  .infolettre .join {
    margin-right: -20%;
    margin-top: 5%;
    width: 80%;
  }
  .infolettre .question {
    padding: 1vh;
  }
  .infolettre .answer {
    grid-area: description;
    background-color: #0E769E;
    padding: 1vh;
  }
  .infolettre .input {
    margin-top: 5vh;
    background-color: #E6E6E6;
    border: var(--bleu-calypso) 0.3vh solid;
    width: 80vw;
    padding: 1vh;
  }
  .infolettre .souris_icone {
    width: 3vw;
    position: absolute;
    transform: translateY(-45%);
    right: 10%;
  }
}/*# sourceMappingURL=styles.css.map */